@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    background-color: black;
}
html {
}
body {
    overflow-x: hidden;
}
#three {
    position:absolute;
    width: 100%;
    height: 100%;
}

/* 
  content templates
*/
.MajorDivHeadings
{
    color: white;
    font-size: 60px;
    position: relative;
    padding-left: 20px;
    margin: 10px;
    text-align: center; 
    font-family: 'Source Code Pro', monospace;
}
/*
    content
*/

#content
{
    color: white;
}
#homeDiv
{
  position: relative;  
}
#homeDivGreet
{
    font-size: 40px;
    font-family: monospace;
    margin-left: 30px;
    color:khaki;
    text-shadow: 10px 10px 10px black;
}
#homeDivName
{
    font-size: 60px;
    font-family:sans-serif;
    margin-left: 30px;
    text-shadow: 1px 1px 1px rgb(135, 208, 175);
    color:paleturquoise;
    text-shadow: 10px 10px 10px black;
}
#homeDivTitle
{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    color:palegreen;
    text-shadow: 10px 10px 10px black;
}

#aboutDiv
{
    position:absolute;
    top: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}
#aboutDivTitle
{
    font-size: 80px;
    font-family: monospace;
    margin-left: 30px;
    color: rgb(246, 248, 177);
    margin-top: 30px;
}
#aboutDivContent
{
    font-size: 20px;
    font-family: monospace;
    margin: 20px;
    color:white;
    background-color: rgb(30, 29, 29);
    padding: 30px;
    line-height: 1.5;
    border-radius: 10px;
    
}

#skillsDiv
{
    position: relative;
    color: white;
}
#skillsDivTitle
{
    color: rgb(246, 248, 177);
    font-size: 80px;
    font-family: monospace;
    margin-left: 30px;
}
#skillsDivParagraph
{
    color:white;
    background-color: rgb(30, 29, 29);
    font-size: 20px;
    font-family: monospace;
    margin: 20px;
    padding: 30px;
    line-height: 1.5;
    border-radius: 10px;
    
}

#projectsDiv
{
    position: relative;
    color: white;
}

#projectsDivTitle
{
    font-size: 80px;
    font-family: monospace;
    margin-left: 30px;
    color: rgb(246, 248, 177);
}

#projectsDivList
{
   display: inline-block;
   flex-wrap: nowrap;
}

.projectsDivListItem
{
  margin: 30px;
  list-style: none;  
  margin-top: 40px;
  margin-bottom: 60px;
}

.projectsDivListItemDiv
{
   padding: 20px;
   background-color: rgb(30, 29, 29);
}

.projectsDivListItemDivTitle
{
   font-size: 50px;
   font-family: monospace;
    color:palegreen;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
}

.projectsDivListItemDivContent
{
    font-size: 20px;
    font-family: monospace;
    color:white;
    margin-left: 20px;
}

.projectsDivListItemDivLink
{
  text-decoration: NONE;
  font-size: 20px;
    font-family: monospace;
    color:palevioletred;
    padding: 20px;
    margin-top:40px;
    margin-left: 10px;
}

#contactDiv
{
    position: relative;
    color: white;
}

#contactDivTitle
{
    font-size: 80px;
    font-family: monospace;
    margin-left: 30px;
    color: rgb(246, 248, 177);
}
#contactDivList
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactDivListItem
{
    margin-top: 30px;
    list-style: none;
}
.contactDivListItem a
{
    text-decoration: NONE;
    font-size: 50px;
    font-family: monospace;
    color:palevioletred;
    padding: 20px;
}

/*
*/